*{
    font-family: 'Ubuntu', sans-serif;
    
}

body {
    background: linear-gradient(rgb(107, 6, 6), #121214, #121214, #121214, #121214, #121214);
    
    margin: 0;
    
    
    display: flex;
    align-items: center;
    flex-direction: column;

    height: 710vh;

    
}

header{
    margin-top: 5px;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
    
}

.my-picture{
    
    width: 200px;
    height: 200px;

    border-radius: 100px;

    
    
}

.my-info{
    color: white;
    text-align: center;
}

.my-projects {
    
    width: 50vh;
    
    
}

.item {
    width: 50vh;
    height: 5vh;
    margin-bottom: 15px; 

    color: black;
    text-decoration: none;
    border-radius: 50px;
    background-color: white;

   
    display: flex;
    align-items: center;
    justify-content: center;
    
    

    transition: .35s;
    cursor: pointer;
    
}

.item:last-child{
    margin-bottom: 0;
}

.my-projects:hover > :not(:hover){
    opacity: .4;
    transform: scale(0.9);
}


.contacts{
    margin-top: 20px; 
    width: 50vh;
    
  

    display: flex;
    align-items: center;
    justify-content: space-around;
    
    
}

.contact1{
    background-color: white;
    border-radius: 100px;
    width: 7vh;
    height: 7vh;  

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: black;

    transition: .35s;
    cursor: pointer;
}

.contact1:hover{
    background-color: blueviolet;
    color: white;
}

.linkedin-icon{
    width: 4vh;
    height: 4vh;
}
.contact2{
    background-color: white;
    border-radius: 100px;

    width: 7vh;
    height: 7vh;  

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: black;

    transition: .35s;
    cursor: pointer;
}

.contact2:hover{
    background-color: #0e76a8;
   
    color: white;
}


img{
    width: 7vh;
    
}

.back-initial-page{
    
    width: 12vw;
    height: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(107, 6, 6);
    border-radius: 10px;

    text-decoration: none;
    font-weight: 600;
    color: white;
    
}


.skills{
    line-height: 30px;
}

#about-me{
    margin-top: 30px;
    letter-spacing: 1px;
    color: #e1e1e6;


    display: grid;
    grid-template-areas: 
    "who-am-i who-am-i"
    "aside main";

    grid-template-rows: 150px 10fr;
    grid-template-columns: 250px 1fr; 
}

h1, h2, strong{
    
    color: white;
    
}


.who-am-i{
    
    grid-area: who-am-i;
    display: flex;
    justify-content: center;
    align-items: center;

}

main{
    
    grid-area: main;
    width: 50vw;
    margin-left: 30px;
}

aside{
    /*rgb(107, 6, 6)*/
    
    background: linear-gradient(rgb(107, 6, 6), black);
    border-radius: 30px;
    grid-area: aside;
    height: 825px;
    
    padding-left: 10px;
    
    
}


.paragraph {

    margin-bottom: 50px;
    line-height: 25px

}

.my-email, .my-phone{
    text-decoration: none;
    font-style: normal;
    background-color: #e1e1e6;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 17vw;
    height: 4vh;

    border-radius: 50px;
}