*{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
   
}

:root {
    --collor-project-one: rgb(46, 46, 46);
    --collor-project-two: rgb(84, 84, 84);
    --collor-project-three: rgb(46, 46, 46);
    --collor-project-four: rgb(84, 84, 84);
    --collor-project-five: rgb(46, 46, 46);
  }



header{
    height: 30vh;
    background: linear-gradient(rgb(107, 6, 6), #121214);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.menu-buttons{
    
    width: 12vw;
    height: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 7vh;
    margin-left: 2vw;
    

    background-color: rgb(107, 6, 6);
    border: 1px solid black;
    border-radius: 10px;

    text-decoration: none;
    font-weight: 600;
    color: white;


    
}

h1{
    text-align: center;
    color: aliceblue;
    margin-left: 4vw;
}

p{
    padding-bottom: 20px;
}

.my-projects{
    display: grid;
    grid-template-areas: 
    "aside-project-one about-project-one"
    "aside-project-two about-project-two"
    "aside-project-three about-project-three"
    "aside-project-four about-project-four"
    "aside-project-five about-project-five"
    "end-page end-page";

    
    grid-template-columns: 45vw 1fr;
    
    
    

}

.project-one, .project-two, .project-three, .project-four, .project-five{
    margin-top: 10vh;
    margin-left: 5vw;
}




.aside-project-one{
    grid-area: aside-project-one;
    background-color: var(--collor-project-one);
    /*background: linear-gradient(rgb(107, 6, 6), #121214);*/
    
    
   
}

.about-project-one{
    grid-area: about-project-one;
    /*background: linear-gradient(rgb(107, 6, 6), #121214);*/
    background-color: var(--collor-project-one);
    

}

.aside-project-two{
    grid-area: aside-project-two;
    background: var(--collor-project-two);
 
}

.about-project-two{
    grid-area: about-project-two;
    background: var(--collor-project-two);
  
}

.aside-project-three{
    grid-area: aside-project-three;
    background: var(--collor-project-three);
 
}

.about-project-three{
    grid-area: about-project-three;
    background: var(--collor-project-three);
    
}

.aside-project-four{
    grid-area: aside-project-four;
    background: var(--collor-project-four);
    
}

.about-project-four{
    grid-area: about-project-four;
    background: var(--collor-project-four);
       
}

.aside-project-five{
    grid-area: aside-project-five;
    background: var(--collor-project-five);
    
}

.about-project-five{
    grid-area: about-project-five;
    background: var(--collor-project-five);
    

}

.text-about-project{
    margin-right: 100px;
    
}


section{
    
    color:rgb(255, 255, 255);
}



.images{
    
    
    margin-bottom: 10px;
    border-radius: 30px;

    width: 35vw;
    height: 45vh;
}



.used-tec{

    width: 30vw;
    height: 30vh;

    background-color: white;
    box-shadow: inset 0 0 10px rgba(0, 0, 0.2);
    color: black;

    padding: 10px;
    border-radius: 40px;

    margin-left: 5em;
    margin-top: 5em;
    margin-bottom: 5em;


    
}

.title-used-tec{
    margin-top: 10px;
    margin-left: 8em;
    
}



.git-acess{
    background-color: white;
    border-radius: 100px;
    width: 7vh;
    height: 7vh;  

    margin-left: 11em;
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: black;

    transition: .35s;
    cursor: pointer;
}

.git-acess:hover{
    background-color: blueviolet;
    color: white;
}

.git-icon{
    width: 7vh;
    height: 7vh;
}

.end-page{
    background: linear-gradient(rgb(107, 6, 6), #121214);
    height: 20vh;
    
    grid-area: end-page;

    display: flex;
    
    justify-content: center;
    align-items: center;
    
}

.back-initial-page2{
    width: 12vw;
    height: 5vh;
    margin-left: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(107, 6, 6);
    border: 1px solid black;
    border-radius: 10px;

    text-decoration: none;
    font-weight: 600;
    color: white;

}