*{
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
}

body {
    margin: 0;

    height: 100vh;
    width: 100vw;

    background: linear-gradient(rgb(107, 6, 6), rgb(0, 0, 0),rgb(0, 0, 0));
    
}

