body{
    margin: 0;
    /* height: 100vh; */
    font-family: 'Roboto', sans-serif;
}


main{
    
    display: flex;
    /* flex-direction: column; */
    height: 100vh;
    
    /* display: grid;
    grid-template-areas: 
    "header header"
    "left-side right-side"; */
/* 
    grid-template-rows: 8vh 92vh;
    grid-template-columns: 50% 50%; */

    
   
}



/* main{
    

    display: grid;
    grid-template-areas: 
    "header header"
    "left-side right-side"
    "projects-title projects-title"
    "projects projects";

    grid-template-rows: 6vh 50vh 8vh 36vh;
    grid-template-columns: 50vw 50vw;
    

} */

header{
    /* grid-area: header; */
    
    position: fixed;
    width: 100%;
    
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 

   
}

.welcome{
    margin-left: 5%;
}

.nav-bar{
    width: 35%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
    
}

.nav-bar-item{
    text-decoration: none;
    color: #000000;

}



h1{
    margin-top:20%;
    font-size: 50px;
    line-height: 1.5;
    text-align: left;
    color: #181818;
}

.my-name{
    color: #0073e6  ;
}

.left-side{
    /* grid-area: left-side; */
    
    margin-top: 50px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    /* justify-content: center; Centraliza horizontalmente */
    align-items: center; 

   
    
}




.son-left-side{

    
    height: 10%;
    width: 40%;
    min-width: 130px;
    
    
    
    /* max-height: 130px; */

    
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid red; */
    

}


.list-tech{
    margin-top: 50px;
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.icons-list-tech{
    width: 50px;
}



.item, .project {
    height: 45px;
    width: 200px;
     

    color:#ffffff;
    text-decoration: none;
    border-radius: 30px;
    background-color: #0073e6;
    
    border: transparent;
    

   
    display: flex;
    align-items: center;
    justify-content: center;
    
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);

    transition: .35s;
    cursor: pointer;
    
}

.item:hover:active{
    opacity: .99;
    
    background-color: #84b8ec;
    color: #000000;
    font-weight:lighter;
}


.right-side{

    /* grid-area: right-side; */
    margin-top: 50px;
    border-left: 1px solid rgb(224, 224, 224);
    
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza verticalmente */

 
}



.right-side-buttons{
    margin-top: 20px; 
    width: 50vh;
    
    max-width: 200px;
    max-height: 100px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    
    
}

.my-image{
    margin-top: 8%;
    height: 55%;
    width: 45%;
    border-radius: 100%;

}

.contact1{
    background-color: white;
    border-radius: 100px;
    width: 7vh;
    height: 7vh;  

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: black;

    transition: .35s;
    cursor: pointer;
}

.contact1:hover{
    background-color: blueviolet;
    color: white;
}

.linkedin-icon{
    width: 5vh;
    height: 5vh;
    
}
.contact2{
    background-color: white;
    border-radius: 100%;
    border: 1px solid rgb(199, 199, 199);
    
    width: 7vh;
    height: 7vh;  

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: black;

    transition: .35s;
    cursor: pointer;
}

.contact2:hover{
    background-color: #0e76a8;
   
    color: white;
}

.github-icon{
    width: 7vh;
    height: 7vh;
}


.projects-title{
    border-top: 1px solid rgb(224, 224, 224);
    /* grid-area: projects-title; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}




.projects, .buttons-project{
    /* grid-area: projects; */
    

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}


/* .project{
    height: 45px;
    width: 200px;
     

    color:#ffffff;
    text-decoration: none;
    border-radius: 30px;
    background-color: #0073e6;
    
    border: transparent;
    

   
    display: flex;
    align-items: c7enter;
    justify-content: center;
    
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);

    transition: .35s;
    cursor: pointer;
} */


.project:hover{
    background-color: #3c96f0;
}

.img-project{
    
    height: 60%;
    width: 50%;
}




.projects-description{
    margin-left: 10vw;
    margin-right: 10vw;
}


footer{
    background-color: #0073e6;
    color: white;
    text-align: center;
}


